@model EnumDropDown.Models.GamesViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>@Html.LabelFor(m => m.Name) @Html.TextBoxFor(m => m.Name)</p>

<p>@Html.LabelFor(x => x.FavoriteGame) @Html.EnumDropDownListFor(x => x.FavoriteGame)</p>